<a href="https://colab.research.google.com/github/SeWonKwon/Python-class/blob/main/%EC%9E%90%EB%A3%8C%ED%98%95_%EC%A0%95%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 자료형의 분류



1.   자료형을 나누는 기준에 따라서 여러가지로 나눌수 있다.


*  스칼라 타입
*  스퀀스 타입


2.   파이썬의 주요 내장 자료형에 따라서, 각각의 특징에 따라서



*   부울 - bool   : True 와 False를 나타내는 자료형이다.
*   수치형 - int, float, complex : 정수, 실수, 복소수 등 숫자를 표현하는 자료형이다.
*   문자열 - str  : 유니코드 문자의 모임을 표현하는 자료형이다. 내용 변경이 안된다.
*   바이트 - bytes : 0 ~  255 사이 코드의 모임을 표현하는 자료형이다.
*   리스트 - list  : 순서가 있는 파이썬 객체의 집합을 표현하는 자료형이다.
*   딕셔너리 - dict  : 순서가 없는 파이썬 객체의 집합을 표현하는 자료형이다. 키(Kyes) 와 밸류(Values) 로 이루어져 있따.
*   튜플 - tuple   : 순서가 있는 파이썬 객체의 집합을 표현하는 자료형이다. 내용 변경이 안된다.
*   집합 - set   : 집합을 표현하는 자료형이다. 

자세한 내용은 아래 목차로 다시 설명 하겠습니다.~~

# **Scalar Types (  스칼라 타입 )**


---
 A scalar is a type that can have a single value such as 5, 3.14, or ‘Bob’.



1.   **int** : Any interger
2.   **fLoat** : Floating pint number (64 bit precision)
3.   **complex** : Numbers with an optional imaginary component
4.   **bool** : Treu, False
5.   **str** : A sequencse of characters ( can contain unicode characters).
6.   **bytes** : A sequencd of unsigned 8-bit entities, used for manipulating binary data.
5.   **NoneType(None)** : Python's null or nil equivalent, every instance of None is of NoneType.( NaN)

출처: https://jpt-pynotes.readthedocs.io/en/latest/scalar-types.html#numeric-types

## **Numeric Types**(숫자형)



---


1.   integers-정수형
2.   floating point numbers-실수형
3.   complex numbers-복소수
4.   8-bit(Octal),16-bit(Hexadecimal)
5.   Booleans

출처: https://docs.python.org/3/library/stdtypes.html

## **Operation** ( 연산자)

---
```
=    :    Assignment (할당) 코드로 형식 지정됨
```
---
Arithmetic Operators (산술 연산자)
--------------------
```
+    Addition
-    Subtraction
*    Multiplication
/    Division
//   Floor Division
%    Modulo
**   Power
```
---
Comparison Operators (비교 연산자)
--------------------
```
==   Equal To
>    Greater Than
>=   Greater Than or Equal To
<    Less Than
<=   Less Than or Equal To
!=   Not Equal
is   object identity
is not negated object identity

" in ,not in "   cannot be used in Scalar type .It's for Sequence type.
```
---
Boolean Operators
-----------------
```
and
or
not
```

### 1. Arithmetic Operators (산술연산자)


```
x + y     sum of x and y

x - y     difference of x and y

x * y     product of x and y

x / y     quotient of x and y

x // y    floored quotient of x and y

x % y     remainder of x / y

-x        x negated

+x        x unchanged

abs(x)    absolute value or magnitude of x      abs()

int(x)    x converted to integer                int()

float(x)  x converted to floating point         float()

complex(re, im) a complex number with real part re, imaginary part im. im defaults to zero.        complex()

c.conjugate()   conjugate of the complex number c

divmod(x, y)    the pair (x // y, x % y)       divmod()

pow(x, y)       x to the power y               pow()

x ** y          x to the power y
```

In [ ]:
# x / y     quotient of x and y
# x // y    floored quotient of x and y
# x % y     remainder of x / y

# divmod(x, y)    the pair (x // y, x % y)       divmod()

for i in range(14):
    print(i,divmod(i,3))

0 (0, 0)
1 (0, 1)
2 (0, 2)
3 (1, 0)
4 (1, 1)
5 (1, 2)
6 (2, 0)
7 (2, 1)
8 (2, 2)
9 (3, 0)
10 (3, 1)
11 (3, 2)
12 (4, 0)
13 (4, 1)

In [ ]:
# All numbers.Real types (int and float ) also include the following operations:
import math # 내장 모듈 math

# math.trunc(x)    -->       x truncated to Integral
a = 3.535565
print(math.trunc(a))

# round(x,n)    --> x rounded to n digits, rounding half to even. 
print(round(a)) # If n is omitted, it defaults to 0.
print(round(a,3))

# math.floor(x)  -->   the greatest Integral <= x
print(math.floor(a))

# math.ceil(x) --->  the least Integral >= x
print(math.ceil(a))

3
4
3.536
3
4

### 2. Comparison Operation (관계연산자)


---


```
==     Equal To
>      Greater Than
>=     Greater Than or Equal To
<      Less Than
<=     Less Than or Equal To
!=     Not Equal
is     object identity
is not negated object identity
```

### 3. Boolean Operation (논리연산자)

```
x or y    if x is false, then y, else x

This is a short-circuit operator, so it only evaluates the second argument if the first one is false.
```
---
```
x and y   if x is false, then x, else y

This is a short-circuit operator, so it only evaluates the second argument if the first one is true.
```
---
```
not x     if x is false, then True, else False

This is a short-circuit operator, so it only evaluates the second argument if the first one is true.

not has a lower priority than non-Boolean operators, so not a == b is interpreted as not (a == b), and a == not b is a syntax error.
```

논리 연산자는 산술연산자보다 우선순위가 낮다.

진릿값의 결과로 참이면 True, 거짓이면 False를 돌려준다. True 는 1, False 는 0을 가진다.
```
아래는 모두 False 값으로 리턴되면, 나머지는 전부 True 이다.

0, 0.0 , 0L, 0.0 + 0.0 # 0인 실수값
" ", [], (), {} , None # 빈값
```
논리식의 계산 순서


```
 True and True     True
 True and False    False
 1 and 1           True
 1 and 0           False
 True or False     True
 ```

### 4. 비트 연산자

추후에 다루기로 하자!!

### 연산자 우선순위

파이썬3 바이블 p 130 참조

# Sequence Type( 스퀀스 타입 )

1. list

2. tuple

3. range

4. binary data

5. text strings

## Common Sequence Operation

```
x in s  :  True if an item of s is equal to x, else False

x not in s  :  False if an item of s is equal to x, else True

s + t  :  the concatenation of s and t

s * n or n * s  :  equivalent to adding s to itself n times

s[i]  :  ith item of s, origin 0

s[i:j]  :  slice of s from i to j

s[i:j:k]  :  slice of s from i to j with step k

len(s)  :  length of s

min(s)  :  smallest item of s

max(s)  :  largest item of s

s.index(x[, i[, j]])  :  index of the first occurrence of x in s (at or after index i and before index j)

s.count(x)  :  total number of occurrences of x in s
```

In [ ]:
#인덱싱 [k] 형식 : k 번 위치의 값 하나를 취한다.

s= 'abcdef' 
l = ['123','342','567', '789']
print(s[2])
print(l[2])
print(s[-1])
print(l[-1])
l[-1] = '900' # 치환
l[-1]

c
567
f
789

'900'

In [ ]:
# 슬라이싱 [s:t:p] 형식  : s부터 t사이 구간의 값을 p 간격으로 취한다.

s= 'abcdef' 
l = ['123','342','567', '789']
print(s[1:3])
print(s[1:])
print(s[::2])  # 처음부터 끝까지 짝수번째 
print(s[:-1])  # 처음부터 마지막 전까지
print(s[-100:100]) # 범위를 넘어서면 범위 내의 값으로 자동으로 처리한다.

bc
bcdef
ace
abcde

In [ ]:
# 연결하기 concatenation 는 + 연산자로 같은 시퀀스 자료형인 두 객체를 연결하는 것이다.
s = 'abs' + 'def'
print(s)
l = [1,2,3] + [4,5,6]
print(l)

absdef
[1, 2, 3, 4, 5, 6]

In [ ]:
# 반복하기 repetition 는 * 연산자를 이용하여 반복한다.
s = 'abc'
print(s*4)
l = [1,2,3]
print(l*3)

abcabcabcabc
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 멤버 검사 in 을 이용하여 
print('파' in '파이썬')
t = (1,2,3,4,5)
print(2 in t)
print(10 not in t)

True
True
True

In [ ]:
# 길이 정보

s = '파이썬만세'
print(len(s))
l = [1,2,3]
print(len(l))

5
3

## Mutable Sequence Types


```
# s[i] = x  :  item i of s is replaced by x

s[i:j] = t  :  slice of s from i to j is replaced by the contents of the iterable t

del s[i:j]  :  same as s[i:j] = []

s[i:j:k] = t  :  the elements of s[i:j:k] are replaced by those of t

del s[i:j:k]  :  removes the elements of s[i:j:k] from the list

s.append(x)  :  appends x to the end of the sequence (same as s[len(s):len(s)] = [x])

s.clear()  :  removes all items from s (same as del s[:])

s.copy()  :  creates a shallow copy of s (same as s[:])

s.extend(t) or s += t  :  extends s with the contents of t (for the most part the same as s[len(s):len(s)] = t)

s *= n  :  updates s with its contents repeated n times

s.insert(i, x)  :  inserts x into s at the index given by i (same as s[i:i] = [x])

s.pop([i])  :  retrieves the item at i and also removes it from s

s.remove(x)  :  remove the first item from s where s[i] is equal to x

s.reverse()   :  reverses the items of s in place
```

In [ ]:
s = [1,2,3,4,5,6]
print(s.pop(1)) # 지우고 뽑아 내는 역활.
s.reverse()
s

2

[6, 5, 4, 3, 1]

# 수치 자료형
1. 정수형
2. 실수형
3. 복소수형
4. 모듈을 활용하여 계산하기.

## 내장 수치 연산 함수


```
abs(x)
int(x)
float(x)
complex(re,im)
c.conjugate()
divmod(x,y)
pow(x,y)
max(iterable),min(iterable)    # String, Lists, tuples, dictionaries, and sets 는 iterable
sum(iterable)
```

정수,실수, 복수수형으로 변환하기

In [ ]:
# 정수로 변환하기
a = 3.54
print(int(a))
print(round(a))

3
4

In [ ]:
# 실수로 변환하기
a = 3
print(type(a))
print(type(float(a)))

<class 'int'>
<class 'float'>

In [ ]:
# 복소수로 변환하기
a = 3
complex(a)

(3+0j)

## Integer ( 정수형 상수 )

정수형 상수는 10진수와 2진수, 8진수, 16진수 상수가 있다.


진법의 수 변환 하기

In [ ]:
# 5진수 123을 10 진법으로 표현하기
int('123',5)

38

In [ ]:
bin(23) # 2진법으로 편환하기

'0b10111'

In [ ]:
oct(23) # 8진법으로 변환하기

'0o27'

In [ ]:
hex(23) # 16진법으로 변환하기

'0x17'

## Float ( 실수형 상수 )
실수형 상수는 소수점을 포함하거나 e 나 E로 지수를 포함한다.
컴퓨터에서는 실수를 부동 소수점(Floating Point) 방식으로 표한하기 떄문에 부동 
소수점형이라고 부른다.

In [ ]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [ ]:
sys.float_info.max

1.7976931348623157e+308

In [ ]:
sys.float_info.min

2.2250738585072014e-308

inf : 무한대의 수 

is_interger() : 실수형인 경우에 정수로 오차 없이 표현할 수 있는 값인지를 찾는 메서드

In [ ]:
float('inf')

inf

In [ ]:
float('-inf')

-inf

In [ ]:
a = 1.2
a.is_integer()

False

In [ ]:
a = 3.0
a.is_integer()

True

실수 연산에서 발생하는 반올림 에러를 살펴보자. 
실수 연산은 특수한 경우를 제외하고는 항상 어느 정도의 오차를 포함 하고 있다고 보아야 한다.

In [ ]:
e = 0.0
for k in range(1000):
  e += 0.1
e

99.9999999999986

아래의 다른 오차는 진법 변환에 의한 에러 때문이다.

In [ ]:
1.1+2.2

3.3000000000000003

In [ ]:
1.1*6

6.6000000000000005

## Complex ( 복소수형 상수)
실수부는 실수로 허수부는 i나 j 숫자 뒤에 붙여야한다.


*   complex(a,b)
*   c.real
* c.imag
* c.conjugate() # 켤레 복소수

In [ ]:
 a = 3
 b = 4
 c = complex(a,b)
 c

(3+4j)

In [ ]:
c.real

3.0

In [ ]:
c.imag

4.0

In [ ]:
c.conjugate()

(3-4j)

## 모듈을 사용한 연산
1. math 모듈
2. cmath 모듈

### Math 모듈



```
import math

math.pi              파이의 상수값
math.e               e(자연상수) 의 상수값
math.tau             mathematical constant τ 
math.inf
math.nan

math.ceil(x)         올림
math.fsum(iterable)  오차 없는 합

math.comb(n, k)      nCk
math.factorial(n)    n!

math.log(x,a)       loga의 x
math.log2(x)        log2의 x
math.log10(x)       log10의 x
math.pow(x,y)       제곱
math.sqrt(2)         제곱근
math.exp(x)         e의 x 승

math.sin(rad)
math.cos(rad)
math.tan(rad)

math.ceil(x)
```

In [ ]:
import math

math.ceil(4.5)

5

In [ ]:


math.comb(4,2)

AttributeError: ignored

cmath 모듈을 사용한 복소수 연산

In [ ]:
import cmath

## **Operator**

# 문자열 <class 'str'>


1.   문자열 정의하기
2.   문자열 서식지정하기
3.   문자열 메서드
4.   유니코드 문자열과 바이트
5.

## 문자열 정의하기

### 한줄 문자열, 여러줄 문자열


*   ' '," ", """ """ 를 이용하여 정의한다.
*   <class 'str'> 클래스 타입은 str 이다.
*   \ (백슬래시) 이용하여 특수 문자를 사용한다.

In [ ]:
s = 'asdf'
s1 = "asdffd"
s2 = """aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"""
print(s)
print(s1)
print(s2)

asdf
asdffd
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
<class 'str'>

False

In [ ]:
# 타입 알아 보기
s2 = 'sadf'
print(type(s2))
isinstance(s2, str)  # 타입을 확인하는 함수 : isinstance(대상, 타입)

<class 'str'>

True

\ 를 이용한 특수문자 사용.(백슬러시)

*   \Enter    : 다음 줄과 연속임을 표현
*   \\        : \ 문자 자체
*   \'        : ' 문자
*   \"        : " 문자
*   \b        : 백스페이스
*   \n        : 줄 바꾸기 \012도 같은 역활
*   \t        : tab 키
*   \r        : 이전꺼는 지우고 이후부터만 출력
*   \0xx      : 8진수 코드 xx
*   \xXX      : 16진수 코드 XX
*   \e        :  Esc 키

In [ ]:
print('a\
')         # \ 엔터
print('\\') # \ 문자 자체
print('Don\'t walk') # \'
print("She said \"i\'m good\"") #\"
print('abc\tdef\t123\t456') # \t 탭키
print('123\n456\n567')  # \n 줄바꾸기

a
\
Don't walk
She said "i'm good"
abc	def	123	456
123
456
567

In [ ]:
# for 문과 문자열 과 print 함수
a = '파이썬만만세'
for i in a:
  print(i) # default 값은 \n 이다
for i in a:
  print(i, end =' ')
print('\n')
for i in range(10):
  print(i, end ='')
print('\n')
for i in a:
  print(i, end ='\t')

파
이
썬
만
만
세
파 이 썬 만 만 세

0123456789

파	이	썬	만	만	세

### 문자열 연산 

스퀀스 타입 연산이 가능하다.

*   '+'  를 이용한 문자열 붙이기
*   '*'  를 이용한 반복하기
*   [k]  인덱싱
*   [k,s,t] 슬라이싱
*   len  을 이용한 길이 정보
*   in, not in 요소 확인

*   문자열은 immutable 자료형이다 변경 불가!

In [ ]:
s = 'asdfgd'
s[3] = '1' # immutable 에러가 난다.

TypeError: ignored

In [ ]:
s = 'asdfgd'
s1 = s.replace('f','1') # 이와 같은 방법으로 새로운 변수로 지정해주어야 한다.
print (s1)

asd1gd

## 포맷팅 ( String Formatting )

### 서식 지정

*  %s    : 문자열 
*  %c    : 문자나 기호 한개에 대응됨
*  %f    : 실수에 대응됨 .2f 소숫점 두자리만 출력한다는 의미
*  %d    : 정수에 대응됨, 3d 는 세자리 정수를 출력한다는 의미
*  %%    : % 라는 기호 자체를 표시함

파이선1,2 의 서식 지정 방법

In [ ]:
int_val = 123456.123
float_val = 2.123456
print("%3d %s %0.2f" % (int_val, 'any value', float_val))

123456 any value 2.12

f'{}' 방식으로 f 안에 단순히 변수를 불러 오는 방식이다.

In [ ]:
int_val = 123456
float_val = 2.123456
print(f'{int_val} 은 정수 {float_val}은 실수')

123456.123 은 정수 2.123456은 실수

format() 함수를 사용한 서식 지정

In [ ]:
# format() 함수 기본 사용법
int_val = 123456
float_val = 2.123456
print(format(int_val,'3d'),format(float_val,'3.2f')) # 3은 최소 자리보장수

123456 2.12

In [ ]:
# 천 단위마다 쉼표, 추가
print(format(123456789,',d'))
print(format(123456789.1234567,',.6f'))

123,456,789
123,456,789.123457

In [ ]:
# 여러 값을 출력할때 사용하는 방식 {} 은 데이터로 채워질 자리를 의미한다. 공급되는 순서대로 데이터를 출력한다.
#''.format(튜플형)
print('{}과{}'.format(23,23.12345))

# 인덱싱으로 순서를 바꿀수 있따.
print('{1}과{0}'.format(23,23.12345))

# 중복 하여 쓸수 있다. 
print('{0}과{0}'.format(23,23.12345))

#format 함수를 사용하기
L = [1,4,5,3,2,6,6,10]
print('최대값 : {0}, 최솟값 : {1}, 6의 갯수 : {2}'.format(max(L), min(L), L.count(6)))

23과23.12345
23.12345과23
23과23
최대값 : 10, 최솟값 : 1, 6의 갯수 : 2

In [ ]:
# 자릿수 지정
print('{:3}의 제곱근은 {:0.5}'.format(2, 2**0.5))
# 인덱스와 자릿수 지정
print('{0:3}의 제곱근은 {1:0.5}'.format(2, 2**0.5))
# d : decimal, f : float
print('{:3d}의 제곱근은 {:0.5f}'.format(2, 2**0.5))
# 자릿수 표현
print('{:,d}'.format(123456789))
print('{:,.3f}'.format(12345678.0123))

  2의 제곱근은 1.4142
  2의 제곱근은 1.4142
  2의 제곱근은 1.41421
123,456,789
12,345,678.012

In [ ]:
# 리스트가 인수로 전달
L = [0,1,2,3,4,5,6,7,8]
print('next value of {0[4]} is {0[5]}'.format(L))

# 딕셔너리가 인수로 전달될 때는 format_map() 메서드를 사용하여 키로 참조한다.
info = {'size':32, 'height':173}
print('사이즈:{size}, 키{height}.format_map(info)')

next value of 4 is 5
사이즈:{size}, 키{height}.format_map(info)

In [ ]:
#모듈인 경우에는 이름으로 접근할수 있다.
import math
print('파이는 {0.pi:.2f}'.format(math))

파이는 3.14

In [ ]:
# 다음은 0부터 360도까지 10도 간격으로 사인 값을 표로 만드는 예이다.
from math import sin, pi, radians
for deg in range(0,361,10):
  rad = radians(deg)
  print('sin({0:3d}) = {1:.5f}'.format(deg, sin(rad)))

sin(  0) = 0.00000
sin( 10) = 0.17365
sin( 20) = 0.34202
sin( 30) = 0.50000
sin( 40) = 0.64279
sin( 50) = 0.76604
sin( 60) = 0.86603
sin( 70) = 0.93969
sin( 80) = 0.98481
sin( 90) = 1.00000
sin(100) = 0.98481
sin(110) = 0.93969
sin(120) = 0.86603
sin(130) = 0.76604
sin(140) = 0.64279
sin(150) = 0.50000
sin(160) = 0.34202
sin(170) = 0.17365
sin(180) = 0.00000
sin(190) = -0.17365
sin(200) = -0.34202
sin(210) = -0.50000
sin(220) = -0.64279
sin(230) = -0.76604
sin(240) = -0.86603
sin(250) = -0.93969
sin(260) = -0.98481
sin(270) = -1.00000
sin(280) = -0.98481
sin(290) = -0.93969
sin(300) = -0.86603
sin(310) = -0.76604
sin(320) = -0.64279
sin(330) = -0.50000
sin(340) = -0.34202
sin(350) = -0.17365
sin(360) = -0.00000

In [ ]:
#보조 서식 문자

# m : m 개의 최소 자리를 확보한다.
print('{0:5s}'.format('egg'), '빈칸확인용')

# m.n : m개의 쇠소 자리수를 확보하고, n개의 소수점 이하 자리를 출력한다.
print('빈칸확인용','{0:10.2f}'.format(1234.1234),'빈칸확인용')

# > , < : 왼쪽이나 오른쪽으로 맞추어서 출력한다.
print ('{0:<5d}'.format(123),'빈칸확인용')
print ('빈칸확인용', '{0:>5d}'.format(123))

# +  : +/- 부호를 출력한다.
print('{0:+d}'.format(123))

# 공백 : 양수일 때 공백을 삽입한다.
print( '{0: d}'.format(123))

# 0 왼쪽 공간을 0으로 채운다.
print( '{0:05d}'.format(123))

egg   빈칸확인용
빈칸확인용    1234.12 빈칸확인용
123   빈칸확인용
빈칸확인용   123
+123
 123
00123

## 문자열 메서드

### 대소문자 변환

In [ ]:
s = 'i like python'
print(s.upper())
print(s.lower())
print(s.capitalize())       # 문자열의 처음만 대문자로
print(s.title())            # 타이틀 형식으로 
print(s.title().swapcase()) # 뒤집기

I LIKE PYTHON
i like python
I like python
i lIKE pYTHON
I Like Python

### 검색에 관련되 메서드

In [ ]:
s = 'abcde123456abcde'
print(s.count('a'))
print(s.find('a'))   # 문자열 s  에서 처음으로 a 가 나오는 인덱스
print(s.find('a',1)) # 1번째 인덱스로 부터 몇번째 
print(type(s.find('a'))) # count, find 는 인덱스 값을 보내주고 클래스는 int 형이다.
print(s.find('z'))      # 없다면 -1 를 출력한다.
print(s.rfind('a'))     # 뒤에서 부터 처음으로 나오는  a 를 찾아준다. 결과값은 보통 인덱스 값을 출력한다.
print(s.index('a'))     # find와 같은 방식이지만
print(s.rindex('a'))
# print(s.index('z'))     # 없다면 ValueError를 출력한다.
print(s.startswith('abc'))
print(s.startswith('abc',11))
print(s.endswith('cde'))
print(s.endswith('abc',0,14))   # 0과 14 사이의 문자열이 abc로 끝나니?

2
0
11
<class 'int'>
-1
11
0
11
True
True
True
True

### 편집과 친화에 관련된 메서드

In [ ]:
s = '    ><><you , me and us><><hehe><><    '
print(s)
print(s.strip())
print(s.lstrip())
print(s.rstrip())
u = s.strip()
print(u.strip('><'))
print(u.replace('><','ㅎ'))

    ><><you , me and us><><hehe><><
><><you , me and us><><hehe><><
><><you , me and us><><hehe><><
    ><><you , me and us><><hehe><><
you , me and us><><hehe
ㅎㅎyou , me and usㅎㅎheheㅎㅎ

### 문자열의 분리와 결합에 관련된 메서드

In [ ]:
s = 'i love programming'
u = """i love python
i love cooking
i love watching movie"""

print(s)
print(u)
print(s.split())
print(s.split('o'))
print(u.split())
print(u.splitlines())

# 결합 join
s = s.split()
t = ':'
print(t.join(s))
print('\t'.join(s))

print(u.split(' ',2))  # ' ' (뛰어쓰기)로 2번만 분리한다.
print(u.rsplit(' ',2)) # 뒤에서 부터 2번만

i love programming
i love python
i love cooking
i love watching movie
['i', 'love', 'programming']
['i l', 've pr', 'gramming']
['i', 'love', 'python', 'i', 'love', 'cooking', 'i', 'love', 'watching', 'movie']
['i love python', 'i love cooking', 'i love watching movie']
i:love:programming
i	love	programming
['i', 'love', 'python\ni love cooking\ni love watching movie']
['i love python\ni love cooking\ni love', 'watching', 'movie']

### 정렬

In [ ]:
u = 'spam and egg'
print(u.center(60))
print(u.ljust(60))
print(u.rjust(60))
print(u.center(30,'-'))

                        spam and egg
spam and egg
                                                spam and egg
---------spam and egg---------

### 문자열의 판별 isalpha()

In [ ]:
print('1234'.isdigit()) # 문자열이 숫자인가?
print('123\u2155\u2156')
print('123\u2155\u2156'.isnumeric()) # 문자열이 유니코드 수치 혹은 일반 수치 문자인가?
print('123\u0661')   # \u0661은 아라빅 숫자 1을 나타내는 유니코드이다.
print('123\u0661'.isdecimal()) # 일반 수치 혹은 유니코드 수치 문자인가?
print('abcd한글'.isalpha())   # 문자열이 영문자 혹은 유니코드 Letter 문자인가?
print('1abc234'.isalnum())     # 문자열이 숫자나 영문자 혹은 유니코드 Letter문자인가?
print('abc'.islower(), 'ABC'.isupper())
print('\n\r\n'.isspace()) # 공백 문자인가?
print('This Is A Title'.istitle())
print('\n\t'.isspace())
print('def'.isidentifier()) # 문자열이 예약어인가?
print(' \n\t'.isprintable())  # 문자열이 인쇄 가능한 문자들의 모임인가?

True
123⅕⅖
True
123١
True
True
True
True True
True
True
True
True
False

## 유니코드 문자열과 바이트

파이썬 3와 유니코드

### 인코딩 과 바이트
*  UTF - 8
*  UTF - 16
*  UTF - 32
*  cp949
*  encode
*  decode
*  ord() 함수와 chr() 함수
*  bytes.fromhex

# 리스트 <class 'list'>

In [ ]:
print(type([]))

<class 'list'>

## 리스트의 연산


1.   리스트 생성
2.   len 과 in
2.   인덱싱           [n]
3.   슬라이싱         [n:t:k]
4.   반복과 연결하기   * , +
4.   mutable
5.   치환
6.   삭제
7.   추가

In [ ]:
 # 리스트 생성
 a= [] # 빈 리스트도 리스트 이다.
 print(type(a))
 b = (3,2)
list(b)   # list 를 이용해서 튜플을 리스트 객체로 바꿈

<class 'list'>

[3, 2]

In [ ]:
a = [1,2,3]
len(a)

3

In [ ]:
a = ['a','b','c']
'c' in a

True

In [ ]:
# 인덱싱 : 리스트에는 순서가 있고, 0 1 2 또는 -1 -2 -3 순서이다.
a = [1,2,"Great"]
print(a[2][2]) # 리스트의 요소의 인덱싱, 문자형의 인덱싱
a[0:a[-2]]

e

[1, 2]

In [ ]:
# 슬라이싱 [n:k:t] n부터 k까지 t번씩

a = [i for i in range(8)]
print(a[1:3])
print(a[:3])
print(a[::2])

[1, 2]
[0, 1, 2]
[0, 2, 4, 6]

In [ ]:
# 확장 슬라이싱

a = list(range(4))
a[::2]=list(range(-10,-12,-1))
print(a)

# a[::2]= list(range(3)) # ValueError: attempt to assign sequence of size 3 to extended slice of size 2
# 오른쪽과 왼쪽 요소의 개수가 맞지 않는다.

a = list(range(5))
a[::2]= list(('a','b','c'))
print(a)

a = list(range(5))
a[::-2]= list(('a','b','c'))
print(a) # 갯수를 맞추어 주면 된다!!

[-10, 1, -11, 3]
['a', 1, 'b', 3, 'c']
['c', 1, 'b', 3, 'a']

In [ ]:
# * 반복 과 연결하기
a = [1,2,3,4,5]
print(a*a[2])          #
print(a+[a[0]]+[a[2]]) #  오직 리스트 끼리만 더할 수 있다.

# 비교해보기
a = [1,2,3]
b = a*3
c = [a]*3
print(a)
print(b)
print(c)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 3]
[1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [ ]:
# list는 mutable 
a = ['a','b',100,456]
a[2] = a[2] + 23

a[2]

123

In [ ]:
# 치환 : 삭제와 입력을 같이한다.

a = ['a','b',100,456]

a[0:2] = [2]  #  갯수가 달라도 가능하다.
print(a)
a[0:2] = [1,12]
a

[2, 100, 456]

[1, 12, 456]

In [ ]:
# 삭제

a = ['a','b',100,456]
a[0] = [] # 빈리스트는 삭제를 의미한다.
a

[[], 'b', 100, 456]

In [ ]:
# del 로 삭제하기

a = ['a','b',100,456]
del a[0]
a

['b', 100, 456]

In [ ]:
# 추가하기

a = [1,2]
a[1:1] = ['a','b']
print(a)
a[4:4] = [3,4]
print(a)

[1, 'a', 'b', 2]
[1, 'a', 'b', 2, 3, 4]

##중첩 리스트  (Nested Lists)
* 리스트 안에 또 다른 리스트가 포함되어 있는 경우 중첩 리스트

In [ ]:
L = [1,[1,2],[[1],[1,2],[1,2,3]]]
print(L[2][2][2])

3

## 리스트 메서드
* 내장함수
1. append  : 데이터를 리스트 끝에 추가(혹은 스택의 Push)한다.
2. insert  : 데이터를 지정한 위치에 삽입한다.
3. index   : 요소를 검색(Search) 한다.
4. count   : 요소의 개수를 알아낸다.
5. sort    : 리스트를 정렬한다.
6. reverse : 리스트의 순서를 바꾼다.
7. remove  : 리스트의 지정한 값 하나를 삭제한다.
8. pop     : 리스트의 지정한 값 하나를 읽어 내고 삭제(스택의 Pop) 한다.
9. extend  : 리스트를 추가한다.

In [ ]:
s = ['a','b','c']
s.append('d')
s

['a', 'b', 'c', 'd']

In [ ]:
s = ['a','b','c']
s.insert(1,'z') # insert(인덱스번호,추가할것)
s

['a', 'z', 'b', 'c']

In [ ]:
s = ['a','b','c']
s.index('b') # int 값으로 출력된다.

1

In [ ]:
s = ['a','b','c','a']
s.count('a')

2

In [ ]:
#정렬, 순서뒤집기 (자세한 이야기는 밑에서 다시 다루기로 하자!)
s.sort() # 변환값이 없다. s 변수에 영향을 미친다. 비교: s = sorted(s)
s.reverse() #변환값이 없다. s 변수에 영향을 미친다. 비교: s =reversed(s)

In [ ]:
#값 삭제하기
s = ['a','b','c','a']
s.remove('a') # 인덱스 번호 가장 작은 것중에 한개만 지운다!
s

['b', 'c', 'a']

In [ ]:
# 리스트에 리스트를 추가하기
s = ['a','b','c','a']
s.extend([1,2])
print(s)
s = s + [1,2]
print(s)
s.append([1,2]) # extend 와 append 와는 다른 기능이다.
print(s)

['a', 'b', 'c', 'a', 1, 2]
['a', 'b', 'c', 'a', 1, 2, 1, 2]
['a', 'b', 'c', 'a', 1, 2, 1, 2, [1, 2]]

## 스택과 큐의 간단한 이해

* 스택 : LIFO
* 큐   : FIFO

In [ ]:
#스택
a = [1,2,3,4,5,6]
a.append(7)
print(a)
a.pop()
a

[1, 2, 3, 4, 5, 6, 7]

[1, 2, 3, 4, 5, 6]

In [ ]:
# 큐
a = [1,2,3,4,5,6]
a.append(7)
print(a)
a.pop(0)
a

[1, 2, 3, 4, 5, 6, 7]

[2, 3, 4, 5, 6, 7]

## 리스트 활용하기 
* 리스트에 저장된 데이터가 리스트나 튜플과 같이 복합 자료형인 경우 데이터를 다루는 예를 보자. 먼저 리스트의 데이터가 튜플이고 이들을 출력한다면 다음과 같이 할수 있다.

In [ ]:
# 리스트와 튜플 그리고 포맷팅
lt = [('one',1),('two',2),('three',3)]
for t in lt:
  print(t)
for t in lt:
  print('name={:7} num={}'.format(t[0],t[1]))
print('다른 방법')
for t in lt:
  print('name={0[0]:7} num={0[1]:}'.format(t)) # 이해가 안간다면 포맷팅 편을 참조해주세요.
print('다른 방법')
for i,j in lt:
  print('name={:7} num={}'.format(i,j))

('one', 1)
('two', 2)
('three', 3)
name=one     num=1
name=two     num=2
name=three   num=3
다른 방법
name=one     num=1
name=two     num=2
name=three   num=3
다른 방법
name=one     num=1
name=two     num=2
name=three   num=3

In [ ]:
# nested list 활용
nl = [['one',1],['two',2],['three',3]]
for i,j in nl:
  print(i,'는',j)

one 는 1
two 는 2
three 는 3

## 정렬하기

## List Comprehension